.nav-container {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.sf-menu {
  background: url(../../images/frontend/nav-bg.jpg) 0 0 repeat-x;
  font-size: 13px;
  line-height: 17px;
  border-radius: 5px 5px 0 0;
  border-bottom: 7px solid #313131;
}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #524640;
  z-index: 99;
}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
}
.sf-menu > li > a > span {
  font-family: 'Trebuchet MS';
  display: block;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  padding: 18px 25px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  background: url(../../images/frontend/marker-8.gif) right center no-repeat; margin-right: 27px;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {  color: #8ecd00;}

.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {  color: #8ecd00;}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #1d1d1d;
}
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
  padding: 6px 25px 7px;
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  display: inline-block;
  background: none;
  font-size: 13px;
  line-height: 15px;
  color: #797a7a;
  font-weight: bold;
  padding: 0;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #eceeee;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 64px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width:768px) {
  .sf-menu > li { background: url(../../images/frontend/sf-menu-line.png) no-repeat right top; padding-right: 3px; border: 0; }
  .sf-menu li li.parent a {  background: url(../../images/frontend/marker-1.gif) 100% 6px no-repeat; }
  .sf-menu li li {background: url(../../images/frontend/sf-menu-line1.png) repeat-x center bottom;}
  .sf-menu li ul a {display: block !important;}
    #menu-icon,
    .sf-menu-phone {  display: none !important;}
}
@media only screen and (min-width: 768px) and (max-width: 995px) {
  .sf-menu > li > a > span {padding: 15px;}
  .sf-menu li li.sfHover, .sf-menu li li, .sf-menu li li:hover {padding: 6px 10px 7px;}
  .sf-menu ul {
    width: 130px;
  }
  ul.sf-menu li li:hover ul,
  ul.sf-menu li li.sfHover ul {
    left: 131px;
    width: 130px;
  }
  ul.sf-menu li li li:hover ul,
  ul.sf-menu li li li.sfHover ul {
    left: 131px;
  }
  .sf-menu li:hover ul, .sf-menu li.sfHover ul {top: 56px;}
  .sf-menu li li a, .sf-menu li.sfHover li a, .sf-menu li.active li a {font-size: 12px;}
  .sf-menu > li > a > span {font-size: 14px;}
  .sf-menu > li.parent > a > span {background-position: right 25px;}
}
@media only screen and (max-width: 767px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  #menu-icon {
    display: block;
    background: url(../../images/frontend/menu-icon-bg.png) 95% 11px no-repeat #2b2b2b;
    border-bottom: 5px solid #313131;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
    padding: 13px 0 0 20px;
    height: 33px;
    margin: 0 10px;
    border-radius: 4px 4px 0 0;
  }

  #menu-icon.active { background-position: 95% -47px;  }

  .sf-menu-phone {
    background: #1d1d1d;
    position: relative;
    padding: 13px 20px 20px;
    z-index: 2;
    margin: 0 10px;
  }
  .sf-menu-phone li { padding: 8px 0 11px;  position: relative; font-family: 'Trebuchet MS'; font-size: 17px;  }
  .sf-menu-phone > li { background: url("../images/sf-menu-line1.png") repeat-x scroll center bottom transparent; }
   .sf-menu-phone li.last {background: none; padding-bottom: 0; margin-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #fff;  }
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {font-size: 14px; padding: 4px 0;}
  .sf-menu-phone li li a {color: #797a7a;}
  .sf-menu-phone li li.last { padding-bottom: 0 !important;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(../../images/frontend/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #8ecd00;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #fff;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #menu-icon {  background-position: 96% 11px; }
  #menu-icon.active { background-position: 96% -47px;}
}
